$primary: darkblue;
$primary-bg: white;
$secondary: darkblue;
$secondary-bg: lightblue;
$accent: purple;
$accent-bg: lighten($accent, 70%);
$error: darkred;
$warn: darken(yellow, 20%);
$success: darkgreen;
