{
  "require": [
    "ts-node/register",
    "source-map-support/register"
  ],
  "cache": false,
  "extension": [ ".ts" ],
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "**/*.test.ts",
    "**/*.type.ts",
    "src/index.ts"
  ],
  "check-coverage": true,
  "statements": 100,
  "branches": 100,
  "lines": 100,
  "functions": 100,
  "sourceMap": true,
  "instrument": true,
  "reporter": [
    "text-summary",
    "html"
  ],
  "all": true
}
